/* invalid response */
.alert-error {
    text-align: center;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 22px;
    background-color: pink;
    border: 3px solid red;

}
.hide{
    display: none;
}

/* body */
body {
    background-color: rgb(50, 150, 250);
}

/* header */
header {
    padding-top: 1px;
    background-color: brown;
    display:flex;
    flex-direction: column;
    border:solid 5px black;
}
h1{
    width: 80%;
    margin-left: 5%;
    font-size: 70px;
    font-family: sans-serif;
}
nav {
    display: flex;
    justify-content: flex-end;
}
a {
    border: 3px solid black;
    float: right;
    margin: 5px;
    padding: 15px;
    background-color: darkorange;
    text-decoration: none;
    font-size: 30px;
    color: black;    
}
